/* Colour-code all block elements */
@if false {
  body { background-color: lightgrey; }
  main { background-color: lightblue; }
  .posts-grid { background-color: yellow; }
  header { background-color: pink; }
  footer { background-color: lightgreen; }
  main>article {
    background-color: orange;
    header { background-color: cyan; }
    footer { background-color: tan; }
    .article-inner { background-color: beige }
  }
  aside { background-color: lightyellow; }
  #comments { background-color: #dbacff; }
  .single main nav { background-color: #f1eb56; }
}

/* Author names at start and end of post */
article header address { display: inline; }
article footer address { display: block; }

/* ============================
Global design (all pages)
=============================*/

body {
  /* Centre the whole layout.
  <body> acts as an outer wrapper */
  margin: 0 auto;
  max-width: $max-width;

  &>header,
  &>footer,
  #wrapper {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &>header, // Masthead
  &>footer { // Page footer
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  &>header {
    text-align: center;
  }

  &>footer {
    font-family: $sans;
    font-size: .8rem;
    margin-top: 3.5rem;
    text-align: center;
  }
}

#footer-widget-area {
  font-size: .8em;
  margin-top: 3rem;
}

.custom-logo {
  height: auto;
  max-width: 100%;
}

/* ============================
Layout for home page.
~ Mostly inspired by 99u.com
============================ */

.home,
.blog,
.archive,
.search-results {
  .posts-grid {
    @include flexbox;
    @include flex-flow(row wrap);
  }

  article {
    @include flexbox;
    @include flex(0, 1, 100%); // 1 article/row
    @media (min-width: $breakpoint-xs) {
      @include flex(0, 1, 100%); // 2 " "
    }
    @media (min-width: $breakpoint-s) {
      @include flex(0, 1, 33.33%); // 3 " "
    }
    @include flex-direction(column); //flex-direction: column;
    margin-bottom: 2.5rem;
    padding-left: .7rem;
    padding-right: .7rem;
    position: relative;

    .article-inner {
      @include flexbox;
      @include flex-direction(column);
      position: relative;
    }

    .entry-footer {
      bottom: 0;
      margin-bottom: 0;
      position: absolute;
    }

    .thumb {
      @include align-items(flex-end);
      @include flexbox;
      @include justify-content(flex-start);
      background-position: 50% 50%;
      background-size: cover;
      min-height: 12rem;
    }

    .thumb h1 {
      -webkit-box-decoration-break: clone;
      background-color: #fff;
      box-decoration-break: clone;
      color: $black;
    }
  }
}

/* ==========================
Archive page pagination
========================== */

.pagination {
  font-size: 1.25rem;
  margin: 0 auto;
  text-align: center;

  .current {
    color: $primary;
  }

}

.single .pagination { font-size: 1rem; }

.page-numbers+.page-numbers {
  margin-left: .75em;
}

/* ============================
Layout for single post pages
============================ */

.single,
.page {
  @media (min-width: $breakpoint-l) {
    #wrapper { /* Includes main, sidebar. Excludes header, footer */
      margin-right: $sidebar-width; // Turn this into a variable

      &>aside { /* Sidebar */
        float: right;
        margin-right: -$sidebar-width;
        min-height: $sidebar-height;
        width: $sidebar-width;
      }

    }

    main { /* Main content */
      float: left;
      padding-right: 3em;
      width: 100%;
    }
  }

  &>footer { /* Main site footer */
    clear: left; /* change to `both` if sidebar gets too tall */
  }

  .entry-meta { /* Byline, post date */
    @extend %meta-block;
    margin-top: 1rem;
    padding: .5rem 0;

    .post-categories {
      display: inline;
      margin: 0;
      li { display: inline; }
      li+li { margin-left: .25rem; }
    }

    time,
    .post-categories { margin-left: 1.5rem;
    }
  }

  .entry-content {
    margin: 1.5rem 0;
  }

  .wp-post-image {
    display: block;
    height: auto;
    margin-bottom: $parskip;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  @media (min-width: $breakpoint-s) {
    .wp-post-image { /* Featured image */
      float: right;
      margin-left: 0;
      margin-right: 0;
      padding: 0 0 1em 2em;
      width: 50%;
    }
  }

  .entry-footer { /* Author bio */
    @extend %meta-block;
    display: block;
    margin: 1.5rem 0;
    padding: 1.5rem 0;

    @media (min-width: $breakpoint-xs) {
      display: table;
    }

    .author-avatar {
      img {
        border-radius: 50%;
        display: block;
        float: none;
        margin: 0 auto;
      }
      @media (min-width: $breakpoint-xs) {
        display: table-cell;
        vertical-align: middle;

        img {
          float: left;
          margin: 0 1rem;
        }
      }
    }

    .author-bio {
      text-align: center;
      @media (min-width: $breakpoint-xs) {
        display: table-cell;
        padding-left: 1rem;
        text-align: inherit;
        vertical-align: middle;
      }
    }

    .author-title {
      font-size: 1.25rem;
      line-height: 2;
      @media (min-width: $breakpoint-xs) {
        display: inline-block;
        line-height: inherit;
        margin-bottom: .25rem;
      }
    }

  }

  .pagination {
    margin-bottom: 3rem;
    text-align: left;

    .previous { display: inline-block; }

    .next { float: right;
      margin-left: 1rem;
    }
  }

}

/* ==========================
Sidebar widgets
========================== */

#sidebar {
  display: block;
  margin-top: 5rem;

  .widget {
    font-size: .9rem;
    h2 { font-size: 1.1rem; }
    ul { list-style: none; }
    &~.widget { margin-left: 2rem; }
    li { margin: .5rem 0; }
  }
  @media (min-width: $breakpoint-s) {
    @include flexbox;
    @include align-items(baseline);
    @include flex-direction(row);
    @include justify-content(flex-start);
    .widget { @include flex(0, 1, 45%); }
  }
  @media (min-width: $breakpoint-l) {
    display: block;
    margin-top: 2.5rem;

    .widget~.widget { margin-left: 0;
      margin-top: 2rem;
    }
  }
}

/* ==========================
Comments area on single posts
========================== */

#comments {
  margin-top: 5rem;

  form { font-family: $sans;
    font-size: .9rem;
  }
}

.comments-title,
.comment-reply-title {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

/* ==========================
Search form in menu
========================== */

.search-form {
  label {
    padding: .5rem;
    vertical-align: baseline;
  }

  input[type='submit'] { display: none; }

  input[type='search'] {
    border: 0;//border: 1px solid $lightgrey;
    border-radius: 2px;
    color: $black;
    font-family: $sans;
    font-size: 1rem;
    line-height: 1.5;
    width: 6rem;
  }
}
