body { background-color: lightgrey; }
main { background-color: lightblue; }
header { background-color: pink; }
footer { background-color: lightgreen; }
main>article {
  background-color: orange;
  header { background-color: cyan; }
  footer { background-color: tan; }
}
aside { background-color: lightyellow; }


/* Author names at start and end of post */
article header address { display: inline; }
article footer address { display: block; }

/* ============================
Layout for single post pages
============================ */

body.single {
  /* Centre the whole layout.
  <body> acts as an outer wrapper */
  max-width: $max-width;
  margin: 0 auto;
}

.single {
  #wrapper { /* Includes main, sidebar. Excludes header, footer */
    margin-right: $sidebar-width; // Turn this into a variable
  }
  main[role="main"] { /* Main content */
    width: 100%;
    float: left;
  }
  aside[role="complementary"] { /* Sidebar */
    width: $sidebar-width;
    margin-right: -$sidebar-width;
    float: right;
    min-height: $sidebar-height;
  }
  &>footer { /* Main site footer */
    clear: left; /* change to `both` if sidebar gets too tall */
  }
  .entry-meta { /* Byline, post date */
      border-style: solid none;
      border-width: 1px;
      border-color: $lightgrey;
      padding: .5rem 0;
  }
  .entry-footer { /* Author bio */
    @extend .entry-meta;
    p {
      margin: 0;
    }
    .author-avatar {
      float: left;
      margin-right: .7em;
      img.avatar {
        border-radius: 50%;
      }
    }
    &::after { /* 'Reloaded' clearfix */
      content: "";
      display: block;
      clear: both;
    }
  }
  
}
