#site-navigation {
  margin: 1.5rem 0;
  @media (min-width: $breakpoint-xs) {
    margin: 2rem 0;
  }
}

#primary-menu {
  font-family: $sans;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  //background-color: #333;
  li {
    margin: 0 auto;
    width: 8rem;
    height: 2rem;
    line-height: 2rem;
    border-bottom: 1px solid $lightgrey;
    //&~li { margin-top: 1em; }
    @media (min-width: $breakpoint-xs) {
      width: auto;
      display: inline-block;
      border-bottom: none;
      &~li { margin-top: 0; }
    }
    a {
      color: $link-colour;
      display: block;
      transition: .3s background-color;
      padding: 0 .5em;
      &:hover {
        color: $white;
        background-color: $primary;
        text-decoration: none;
      }
    }
  }
}
