#site-navigation {
  margin-top: 1rem;
  @media (min-width: $breakpoint-xs) {
    margin-top: 2rem;
  }
}

#primary-menu {
  ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    display: inline-block;
    &~li { margin-top: 1em; }
    @media (min-width: $breakpoint-xs) {
      display: inline-block;
      &~li { margin-top: 0; }
    }
  }
  li a {
    color: white;
    padding: .5em;
    background-color: #333;
    &:hover {
      background-color: #111;
      text-decoration: none;
    }
  }
}
