html,
body {
  color: $black;
  font-family: $serif;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif;
}

@media (min-width: $breakpoint-m) {
  html,
  body {
    font-size: 18px;
  }
}

a {
  // Hyperlinks
  color: $link-colour;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.entry-content {
  // Headings
  h1 { font-size: 2.6rem; }
  h2 { font-size: 2.2rem; }
  h3 { font-size: 1.8rem; }
  h4 { font-size: 1.5rem; }

  h5,
  h6 { letter-spacing: .1em;
    text-transform: uppercase;
  }
}

/* Articles summaries on home/archive pages */
.blog {
  main {
    .entry-title,
    .entry-summary,
    .entry-meta { padding: 0 .5rem;
}

    .entry-title {
      font-size: 1.5rem;
      padding: .5rem;
    }

    .entry-summary { font-size: 1rem; }

    .entry-meta {
      font-family: $sans;
      margin: .5rem 0;
      time { display: inline-block; }
      .comments-number { margin-left: 1.25rem; }
    }
  }
}

hr,
dt,
dd { margin-bottom: $parskip;
}
p+p { margin-top: $parskip; }

em { font-style: italic; }
strong { font-weight: bold; }

var {
  font-style: italic;
  font-weight: bold;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup { bottom: 1ex; }
sub { top: .5ex; }

hr {
  background-color: $lightgrey;
  border: 0;
  height: 1px;
}

// Lists
dt { font-weight: bold;
  margin-bottom: .3em;
}
ol { list-style: decimal; }
ol ol { list-style: lower-latin; }
ol ol ol { list-style: lower-roman; }
ul { list-style: disc; }
ul ul { list-style: circle; }
ul ul ul { list-style: square; }

ul,
ol { margin: 0 0 $parskip (.5em + $parskip / 2);
}

// Quotations
blockquote {
  border-left: 4px solid $lightgrey;
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: $parskip;
  padding-left: $parskip / 2;
}

q, // = quote
cite {
  font-style: italic;
}


// Tables
table,
th,
td { border: 1px solid $lightgrey;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 $parskip;
  table-layout: fixed;
  width: 100%;
}

th,
td {
  border-width: 0 1px 1px 0;
  padding: .4em;
}

th {
  font-weight: 700;
}

caption,
th,
td { text-align: left;
}

code,
pre,
kbd,
tt {
  font-family: monospace;
}

pre {
  background-color: $white;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.single {
  article header {
    h1 { // Headline
      font-size: 2.6em;
      margin-bottom: 1rem;
      line-height: 1.25;
    }

    .entry-summary { // Standfirst
      font-size: 1.3em;
      font-family: $serif;
    }
  }
}

.comment-form-comment textarea {
  display: block;
  max-width: 100%;
}

// Site header
.site-title {
  font-size: 3rem;

  a {
    color: $masthead-colour;
    &:hover { text-decoration: none; }
}
}

.site-description {
  margin: 0;
}
