html,
body {
  color: $black;
  font-family: $serif;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif;
}

@media (min-width: $breakpoint-m) {
  html,
  body {
    font-size: 18px;
  }
}

a {
  // Hyperlinks
  color: $link-colour;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.entry-content {
  h1, h2, h3, h4, h5, h6 {
    margin: .5em 0;
  }
  // Headings
  h1 { font-size: 2.6rem; }
  h2 { font-size: 2.2rem; }
  h3 { font-size: 1.8rem; }
  h4 { font-size: 1.5rem; }

  h5,
  h6 { letter-spacing: .1em;
    text-transform: uppercase;
  }

  a {
    border-bottom: 1px solid $lightgrey;

    &:hover { border-bottom: none;
      color: #555;
      text-decoration: none;
    }

  }

  .img-link {
    // Prevents <a><img/></a> underlining the <img>
    border: 0;
  }

  .alignnone,
  .aligncenter,
  .alignleft,
  .alignright {
    clear: both;
  }

  .alignnone {
    // Centre images by default
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .size-auto,
  .size-full,
  .size-large,
  .size-medium,
  .size-thumbnail {
    height: auto;
    max-width: 100%;
  }

  figure {
    background-color: $white;
    margin: 1em auto;
  }

  figcaption {
    font-size: .8em;
    margin-top: -.5em;
    padding: .5em;
  }

  .wp-caption img,
  .wp-caption {
    // Override inline figure styles
    height: auto !important;
    max-width: 100% !important;
    //width: auto !important;
  }

}

/* Articles summaries on home/archive pages */
.home,
.blog,
.archive,
.search-results {
  main {
    .entry-title,
    .entry-summary,
    .entry-meta { padding: 0 .5rem;
}

    .entry-title {
      font-size: 1.25rem;
      padding: .5rem;
    }

    .entry-summary { font-size: .9rem; }

    .entry-meta {
      font-family: $sans;
      font-size: .8rem;
      margin: .5rem 0;
      time { display: inline-block; }
      .comments-number { margin-left: 1rem; }
      .fb-like { margin-left: .5rem; }
    }
  }
}

.archive,
.search-results,
.error404 {
  main > h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    margin-left: .7rem;
  }
}

.error404 main p {
  margin-left: .7rem;
}

hr,
dt,
dd { margin-bottom: $parskip;
}
p+p { margin-top: $parskip; }

em { font-style: italic; }
strong { font-weight: bold; }

var {
  font-style: italic;
  font-weight: bold;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup { bottom: 1ex; }
sub { top: .5ex; }

hr {
  background-color: $lightgrey;
  border: 0;
  height: 1px;
}

// Lists
dt { font-weight: bold;
  margin-bottom: .3em;
}
ol { list-style: decimal; }
ol ol { list-style: lower-latin; }
ol ol ol { list-style: lower-roman; }
ul { list-style: disc; }
ul ul { list-style: circle; }
ul ul ul { list-style: square; }

ul,
ol { margin: $parskip 0 $parskip (.5em + $parskip);
}

.entry-content li { padding-left: .5em; }

// Quotations
blockquote {
  border-left: 4px solid $lightgrey;
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.5;
  margin: $parskip 0;
  padding-left: $parskip / 2;
}

q, // = quote
cite {
  font-style: italic;
}


// Tables
table,
th,
td { border: 1px solid $lightgrey;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 $parskip;
  table-layout: fixed;
  width: 100%;
}

th,
td {
  border-width: 0 1px 1px 0;
  padding: .4em;
}

th {
  font-weight: 700;
}

caption,
th,
td { text-align: left;
}

code,
pre,
kbd,
tt {
  font-family: monospace;
}

pre {
  background-color: $white;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.single,
.page {
  article header {
    h1 { // Headline
      font-size: 2.6em;
      margin-bottom: 1rem;
      line-height: 1.25;
    }

    .entry-summary { // Standfirst
      font-size: 1.3em;
      font-family: $serif;
    }
  }
}

.comment-form-comment textarea {
  display: block;
  max-width: 100%;
}

// Site header
.site-title {
  font-size: 3rem;

  a {
    color: $masthead-colour;
    &:hover { text-decoration: none; }
}
}

.site-description {
  margin: 1rem 0 0;
}
