body {
  line-height: 1.3;
}

p {
  margin: 1em 0;
}

code,
pre {
  font-family: monospace;
}

.single {
  article header {
    h1 { // Headline
      font-size: 2.6em;
    }

    .entry-summary { // Standfirst
      font-size: 1.3em;
    }
  }
}
