/* Variables to be used elsewhere */

/* =================
    Colours
================= */

$white: #dedede;
$lightgrey: #ddd;

/* ================
    Layout
================= */

$max-width: 80rem;
$sidebar-width: 20rem;
$sidebar-height: 30rem;

/* Placeholders */

%meta-block {
  border-color: $lightgrey;
  border-style: solid none;
  border-width: 1px;
  padding: .5rem 0;
}
