/* Variables to be used elsewhere */

/* =================
    Colours
================= */

$white: #dedede;
$lightgrey: #ddd;
$black: #333;

/* ================
    Layout
================= */

$max-width: 80rem;
$sidebar-width: 20rem;
$sidebar-height: 30rem;

$breakpoint-xs: 30rem; // 480px
$breakpoint-s: 48rem; // 768px
$breakpoint-m: 64rem; // 1024px
$breakpoint-l: 80rem; // 1280px

/* Placeholders */

%meta-block {
  border-color: $lightgrey;
  border-style: solid none;
  border-width: 1px;
  padding: .5rem 0;
}
