/* Variables to be used elsewhere */

/* =================
    Colours
================= */

$white: #fafafa;
$lightgrey: #ddd;
$midgrey: #777; // not used
$black: #333;

$orange: #e6783b;
$teal: #099996;

$primary: $orange;
$secondary: $teal;

$masthead-colour: $primary;
$link-colour: $black;//$secondary;


/* ================
    Layout
================= */

$max-width: 64rem;
$sidebar-width: 16em;
$sidebar-height: 30rem;

$parskip: 1em;

$breakpoint-xs: 30rem; // 480px
$breakpoint-s: 48rem; // 768px
$breakpoint-m: 64rem; // 1024px
$breakpoint-l: 80rem; // 1280px

/* Typefaces */
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,400i,700');
$sans: 'PT Sans', Tahoma, Geneva, sans-serif;
$serif: 'PT Serif', Georgia, serif;

/* Placeholders */

%meta-block {
  border-color: $lightgrey;
  border-style: solid none;
  border-width: 0px;
  font-size: .8rem;
  padding: .5rem 0;
}
